.widget-gallery-plus-pagination {
  position: sticky !important;
  top: 0;
  background-color: #c5c5c5;
  z-index: 1;
}

.widget-gallery-plus-pagination-bottom {
  position: sticky !important;
  bottom: 0;
  background-color: #c5c5c5;
  z-index: 1;
}